@import "tailwindcss";

@theme {
  --color-kitt-background: rgb(255, 237, 219);
  --color-kitt-foreground: rgb(237, 205, 187);
  --color-kitt-primary: rgb(227, 183, 160);
  --color-kitt-secondary: rgb(191, 146, 112);
  --color-kitt-txt: rgb(80, 80, 80);
}

.swing {
  animation: travel-hop 1.2s ease-in-out infinite;
  transform-origin: center bottom;
  position: relative;
  top: -200px;
}

@keyframes travel-hop {
  0% {
    transform: translate(0, 0) rotate(-6deg) scale(1);
  }
  10% {
    transform: translate(-22px, -14px) rotate(-2deg) scale(1.02);
  }
  20% {
    transform: translate(-45px, -38px) rotate(8deg) scale(1.09);
  }
  30% {
    transform: translate(-64px, -14px) rotate(-6deg) scale(1.02);
  }
  40% {
    transform: translate(-45px, 8px) rotate(-14deg) scale(0.93);
  }
  50% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  60% {
    transform: translate(45px, 8px) rotate(14deg) scale(0.93);
  }
  70% {
    transform: translate(64px, -14px) rotate(6deg) scale(1.02);
  }
  80% {
    transform: translate(45px, -38px) rotate(-8deg) scale(1.09);
  }
  90% {
    transform: translate(22px, -14px) rotate(2deg) scale(1.02);
  }
  100% {
    transform: translate(0, 0) rotate(-6deg) scale(1);
  }
}
