DB_USERNAME=postgres
DB_PASSWORD=your_db_password
DB_DATABASE=solo-project-kittens
DB_HOST=127.0.0.1
PORT=3000
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
