DB_USERNAME=postgres
DB_PASSWORD=123
DB_DATABASE=solo-project-kittens
DB_HOST=127.0.0.1
PORT=3000
ACCESS_TOKEN_SECRET='accessforkittenssoloprojectplslikeandsubscribe'
REFRESH_TOKEN_SECRET='refreshforkittenssoloprojectplslikeandsubscribe'